

.bildebeholder {

    background-image: url(../bilder/KI-tegneserie-Bergen.png);
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bildebeholder2 {

    background-image: url(../bilder/KI-tegneserie-Bergen.png);
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bildebeholder3 {

    background-image: url(../bilder/KI-tegneserie-Bergen.png);
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}